@import url("components/banner.css");
@import url("components/button.css");
@import url("components/navbar.css");
@import url("components/field.css");
@import url("components/footer.css");
@import url("components/form.css");
@import url("pages/index.css");
@import url("pages/plans.css");
@import url("pages/demo.css");
@import url("pages/impressum.css");


@font-face {
font-family: Oscar;
src: local(Oscar), url('fonts/Oscar/Pelavin Fonts - Oscar.otf') format('opentype');
}

h2, h3, h4, h5, p, a, input {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif !important;
}

.modal {
  z-index: 1100 !important;
}

#modalFive .modal-dialog {
  max-width: 770px !important;
}

