.btn-reverse {
  font-weight: 500;
  color: white !important;
  font-size: 18px;
  border: 1px solid white;
  padding: 10px 49px;
  margin-right: 10px;
  border-radius: 4px;
  background: transparent;
}

.btn-reverse:hover {
  text-decoration: none;
  color: white;
  background-color: #8E1D6E;
  border: 1px solid #8E1D6E;
  transition: all 0.7s ease;
}

.btn-plum {
  font-weight: 500;
  color: white !important;
  font-size: 18px;
  padding: 10px 25px;
  background-color: #8E1D6E;
  border: 1px solid #8E1D6E;
  margin-left: 10px;
  border-radius: 4px;
  transition: all 0.7s ease;
}

.btn-plum:hover {
  background-color: #BC1A8E;
  text-decoration: none;
  color: white;
}

.btn-plum-field {
  font-weight: 500;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  background-color: #8E1D6E;
  border-radius: 4px;
  border: 1px solid #8E1D6E;
}

.btn-reverse-modal{
  font-weight: 500;
  color: white !important;
  font-size: 18px;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 4px;
  background: transparent;
}

.btn-reverse-plum {
  font-weight: 500;
  color: #8E1D6E !important;
  font-size: 18px;
  border: 1px solid #8E1D6E;
  padding: 10px 49px;
  margin-right: 10px;
  border-radius: 4px;
  background: transparent;
}

.btn-reverse-plum:hover {
  text-decoration: none;
  color: white !important;
  background-color: #8E1D6E;
  border: 1px solid #8E1D6E;
  transition: all 0.7s ease;
}

.btn-plum-mobile {
  font-weight: 500;
  color: white !important;
  font-size: 18px;
  background-color: #8E1D6E;
  border: 1px solid #8E1D6E;
  border-radius: 4px;
  transition: all 0.7s ease;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.btn-plum-mobile:hover {
  text-decoration: none;
}

.btn-reverse-mobile {
  font-weight: 500;
  color: #8E1D6E !important;
  font-size: 18px;
  border: 1px solid #8E1D6E;
  /*margin-right: 10px;*/
  border-radius: 4px;
  background: transparent;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.btn-reverse-mobile:hover {
  text-decoration: none;
}
