.footer {
  display: flex;
  justify-content: space-between;
  background-color: #061649;
  padding: 30px;
  align-items: center;
}

.footer-logo img {
  height: 70px;
}

.footer-social a {
  color: white;
  font-size: 26px;
  margin: 10px;
}

.footer-social a:hover {
  color: rgba(255,255,255,0.7);

}

.footer-social {
  margin-top: 10px;
}

#impressum {
  font-size: 16px;
  color: white;
  margin: 10px;
}

#impressum:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}

@media (max-width: 600px) {
  .footer-logo img {
    display: none;
  }
}
