.form-button {
  margin-left: 0 !important;
}

.form-button:hover {
  cursor: pointer;
}

.form-header {
  padding-top: 100px;
}

@media (max-width: 800px) {
  .form-header {
    padding-top: 140px;
  }
}
