
.modal {
  /*z-index: 2100 !important;*/
}

#modalFive .modal-dialog {
  max-width: 770px !important;
}

#modalFive .modal-body {
  padding-top: 0 !important;
}

iframe {
  height: 500px !important;
}


.programm-content {
  margin: 0 auto;
}


.modal {
    display: none;  Hidden by default
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    top: 70px !important;
}

.modal-content h3 {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  padding-left: 20px;
  font-size: 18px;
  box-shadow: inset 0px -4px #8E1D6E;
  padding-bottom: 15px;
}

.modal-content h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 0px -4px #8E1D6E;
  padding-bottom: 15px;
  text-align: center;
}

.modal-content h2 {
  margin: 25px 0 5px 0;
  font-size: 24px;
  font-weight: bold;

}

.modal-content p {
  box-shadow: inset 0px -4px #8E1D6E;
  padding: 10px 0;
  font-size: 14px;
  color: black;
}

.modal-content h5 {
  font-size: 16px;
  margin: 20px 0 30px 0;
  line-height: 1.4;
  text-align: center;

}


.modal-header {
  color: #8E1D6E;
  padding: 0;
  font-size: 23px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
